# Importação de arquivos excel com pandas

1. Importe, utilizando o pacote pandas, o arquivo **datasets/battledeath.xlsx** e imprima o nome das planilhas contidas neste arquivo que contêm as taxas de mortalidade ajustadas por idade devido à guerra em vários países ao longo de vários anos.

In [7]:
import pandas as pd

arquivo = 'datasets/battledeath.xlsx'

planilha = pd.ExcelFile(arquivo)

planilha.sheet_names

['2002', '2004']

2. Leia a planilha '2002' e armazene o conteúdo do dataframe **df_2002**. Exiba as primeiras linhas do dataframe.

In [9]:
df_2002 = planilha.parse('2002')

df_2002.head()

  War, age-adjusted mortality due to       2002
0                        Afghanistan  36.083990
1                            Albania   0.128908
2                            Algeria  18.314120
3                            Andorra   0.000000
4                             Angola  18.964560

3. Leia a planilha '2004' e armazene o conteúdo do dataframe **df_2004**. Exiba as primeiras linhas do dataframe.

In [18]:
df_2004 = planilha.parse('2004')

df_2004.head()

  War(country)      2004
0  Afghanistan  9.451028
1      Albania  0.130354
2      Algeria  3.407277
3      Andorra  0.000000
4       Angola  2.597931

4. Leia as planilhas anteriores saltando a primeira linha (skiprows=[1]) e renomeando as colunas para "Pais e Idade Ajustada (2002 ou 2004)" (names=["Pais", "Mortalidade Ajustada (2002 ou 2004"]). Utilize a posição da planilha ao invés do nome.

In [23]:
df_2002 = planilha.parse(0, skiprows=[1], names=['País', 'Idade Ajustada 2002'])
    
df_2002.head()

                  País  Idade Ajustada (2002 ou 2004)
0              Albania                       0.128908
1              Algeria                      18.314120
2              Andorra                       0.000000
3               Angola                      18.964560
4  Antigua and Barbuda                       0.000000

In [26]:
df_2004 = planilha.parse(1, skiprows=[1], names=['País', 'Idade Ajustada 2004'])
    
df_2004.head()

                       País  Idade Ajustada 2004
0                   Albania             0.130354
1                   Algeria             3.407277
2                   Andorra             0.000000
3                    Angola             2.597931
4       Antigua and Barbuda             0.000000
5                 Argentina             0.000000
6                   Armenia             0.000000
7                 Australia             0.000000
8                   Austria             0.000000
9                Azerbaijan             0.072602
10                  Bahamas             0.000000
11                  Bahrain             0.000000
12               Bangladesh             0.165129
13                 Barbados             0.000000
14                  Belarus             0.000000
15                  Belgium             0.000000
16                   Belize             0.000000
17                    Benin             0.000000
18                   Bhutan             0.000000
19                  Bolivia             0.000000
20   Bosnia and Herzegovina             1.210550
21                 Botswana             0.000000
22                   Brazil             0.000000
23                   Brunei             0.000000
24                 Bulgaria             0.028590
25             Burkina Faso             0.000000
26                  Burundi            39.061893
27                 Cambodia             1.127313
28                 Cameroon             0.000000
29                   Canada             0.003505
..                      ...                  ...
161                Suriname             0.000000
162               Swaziland             0.000000
163                  Sweden             0.000000
164             Switzerland             0.000000
165                   Syria             0.000000
166              Tajikistan             1.651579
167                Thailand             0.992290
168          Macedonia, FYR            38.812843
169             Timor-Leste             0.000000
170                    Togo             0.000000
171                   Tonga             0.000000
172     Trinidad and Tobago             0.000000
173                 Tunisia             0.000000
174                  Turkey             0.000000
175            Turkmenistan             0.000000
176                  Tuvalu             0.000000
177                  Uganda            36.457386
178                 Ukraine             0.041199
179    United Arab Emirates             0.000000
180          United Kingdom             0.074462
181                Tanzania             0.399218
182           United States             0.337659
183                 Uruguay             0.000000
184              Uzbekistan             0.166337
185                 Vanuatu             0.000000
186               Venezuela             0.000000
187                 Vietnam             0.037507
188             Yemen, Rep.             3.602868
189                  Zambia             0.041963
190                Zimbabwe             0.509568

[191 rows x 2 columns]