# Manipulando banco de dados relacionais SQLALchemy

1. Escreva um vínculo (engine) com o banco de dados datasets/Chinook.sqlite. O banco de dados **Chinook** (https://archive.codeplex.com/?p=chinookdatabase) contém informações sobre uma loja de mídia digital semi-ficcional na qual os dados de mídia são reais e os dados de clientes, funcionários e vendas foram criados manualmente.

In [5]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///datasets/Chinook.sqlite')

2. Mostre os nomes de todas as tabelas do banco de dados Chinook.

In [2]:
engine.table_names()

['Album',
 'Artist',
 'Customer',
 'Employee',
 'Genre',
 'Invoice',
 'InvoiceLine',
 'MediaType',
 'Playlist',
 'PlaylistTrack',
 'Track']

3. Mostre todas das informações de todas as colunas e das 10 primeiras linhas da tabela **Album**. Armezene essas informações em um dataframe

In [14]:
con = engine.connect()
# rs = con.execute("SELECT * FROM  Album LIMIT 10")
rs = con.execute("SELECT * FROM  Album")
albuns = pd.DataFrame(rs.fetchall())
# albuns = pd.DataFrame(rs.fetchmany(size=10))
albuns.columns = rs.keys()
con.close()

albuns.head(10)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
5        6                     Jagged Little Pill         4
6        7                               Facelift         5
7        8                         Warner 25 Anos         6
8        9         Plays Metallica By Four Cellos         7
9       10                             Audioslave         8

4. Mostre os contéudo das colunas **lastname** e **title** da tabela **employee** para 3 empregados apenas. Utilize a cláusula **with**.

In [38]:
with engine.connect() as con:
    rs = con.execute("SELECT lastname, title FROM Employee")
    employees_df = pd.DataFrame(rs.fetchmany(3))
    employees_df.columns = rs.keys()

employees_df

  LastName                Title
0    Adams      General Manager
1  Edwards        Sales Manager
2  Peacock  Sales Support Agent

5. Mostre todas as informações de 3 empregados cujo **id** é maior ou igual a 6.

In [35]:
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee as e WHERE e.EmployeeId >= 6")
    employees_where_df = pd.DataFrame(rs.fetchall())
    employees_where_df.columns = rs.keys()

employees_where_df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,6,Mitchell,Michael,IT Manager,1,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
1,7,King,Robert,IT Staff,6,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
2,8,Callahan,Laura,IT Staff,6,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

6. Mostre todas as informações de todos empregados. Ordene cronologicamente pela data de nascimento (**birthdate**) do empregado.

In [34]:
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee as e ORDER BY e.BirthDate")
    employees_order_df = pd.DataFrame(rs.fetchall())
    employees_order_df.columns = rs.keys()

employees_order_df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
3,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
4,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com
5,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
6,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
7,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com

7. Mostre todas as informações de todos empregados os empregado cujo **employeeid** é menor ou igual 6. Ordene cronologicamente pela data de nascimento (**birthdate**) do empregado.

In [33]:
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee as e WHERE e.EmployeeID <= 6 ORDER BY e.BirthDate")
    employees_where_order_df = pd.DataFrame(rs.fetchall())
    employees_where_order_df.columns = rs.keys()

employees_where_order_df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
3,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
4,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
5,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com

8. Mostre o título (**title**) do album (**tabela album**) e nome (**name**) do artista (**tabela artist**).

In [32]:
with engine.connect() as con:
    rs = con.execute("SELECT alb.title, art.name FROM Album as alb INNER JOIN Artist as art ON alb.ArtistId = art.ArtistId")
    album_artists_df = pd.DataFrame(rs.fetchall())
    album_artists_df.columns = rs.keys()

album_artists_df

,Title,Name
0,For Those About To Rock We Salute You,AC/DC
1,Balls to the Wall,Accept
2,Restless and Wild,Accept
3,Let There Be Rock,AC/DC
4,Big Ones,Aerosmith
5,Jagged Little Pill,Alanis Morissette
6,Facelift,Alice In Chains
7,Warner 25 Anos,Antonio Carlos Jobim
8,Plays Metallica By Four Cellos,Apocalyptica
9,Audioslave,Audioslave
10,Out Of Exile,Audioslave
11,BackBeat Soundtrack,BackBeat
12,The Best Of Billy Cobham,Billy Cobham
13,Alcohol Fueled Brewtality Live! [Disc 1],Black Label Society
14,Alcohol Fueled Brewtality Live! [Disc 2],Black Label Society
15,Black Sabbath,Black Sabbath
16,Black Sabbath Vol. 4 (Remaster),Black Sabbath
17,Body Count,Body Count
18,Chemical Wedding,Bruce Dickinson
19,The Best Of Buddy Guy - The Millenium Collection,Buddy Guy
20,Prenda Minha,Caetano Veloso
21,Sozinho Remix Ao Vivo,Caetano Veloso
22,Minha Historia,Chico Buarque
23,Afrociberdelia,Chico Science & Nação Zumbi
24,Da Lama Ao Caos,Chico Science & Nação Zumbi
25,Acústico MTV [Live],Cidade Negra
26,Cidade Negra - Hits,Cidade Negra
27,Na Pista,Cláudio Zoli
28,Axé Bahia 2001,Various Artists
29,BBC Sessions [Disc 1] [Live],Led Zeppelin
...,...,...
317,SCRIABIN: Vers la flamme,Christopher O'Riley
318,Armada: Music from the Courts of England and S...,Fretwork
319,Mozart: Symphonies Nos. 40 & 41,Berliner Philharmoniker & Herbert Von Karajan
320,Back to Black,Amy Winehouse
321,Frank,Amy Winehouse
322,Carried to Dust (Bonus Track Version),Calexico
323,Beethoven: Symphony No. 6 'Pastoral' Etc.,Otto Klemperer & Philharmonia Orchestra
324,Bartok: Violin & Viola Concertos,Yehudi Menuhin
325,Mendelssohn: A Midsummer Night's Dream,Philharmonia Orchestra & Sir Neville Marriner
326,Bach: Orchestral Suites Nos. 1 - 4,"Academy of St. Martin in the Fields, Sir Nevil..."
327,"Charpentier: Divertissements, Airs & Concerts",Les Arts Florissants & William Christie
328,South American Getaway,The 12 Cellists of The Berlin Philharmonic
329,Górecki: Symphony No. 3,Adrian Leaper & Doreen de Feis
330,Purcell: The Fairy Queen,"Roger Norrington, London Classical Players"
331,The Ultimate Relexation Album,Charles Dutoit & L'Orchestre Symphonique de Mo...
332,Purcell: Music for the Queen Mary,"Equale Brass Ensemble, John Eliot Gardiner & M..."
333,Weill: The Seven Deadly Sins,Kent Nagano and Orchestre de l'Opéra de Lyon
334,"J.S. Bach: Chaconne, Suite in E Minor, Partita...",Julian Bream
335,Prokofiev: Symphony No.5 & Stravinksy: Le Sacr...,Berliner Philharmoniker & Herbert Von Karajan
336,"Szymanowski: Piano Works, Vol. 1",Martin Roscoe
337,Nielsen: The Six Symphonies,Göteborgs Symfoniker & Neeme Järvi
338,Great Recordings of the Century: Paganini's 24...,Itzhak Perlman
339,Liszt - 12 Études D'Execution Transcendante,Michele Campanella
340,Great Recordings of the Century - Shubert: Sch...,Gerald Moore
341,"Locatelli: Concertos for Violin, Strings and C...","Mela Tenenbaum, Pro Musica Prague & Richard Kapp"
342,Respighi:Pines of Rome,Eugene Ormandy
343,Schubert: The Late String Quartets & String Qu...,Emerson String Quartet
344,Monteverdi: L'Orfeo,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,Mozart: Chamber Music,Nash Ensemble
346,Koyaanisqatsi (Soundtrack from the Motion Pict...,Philip Glass Ensemble

9. Mostre o resultado da junção da tabela **PlaylistTrack** e **Track** onde o campo Milliseconds é menor do que 250000. As tabelas são relacionadas pelo campo **TrackId**.

In [31]:
with engine.connect() as con:
    rs = con.execute("SELECT * FROM PlaylistTrack as plt INNER JOIN Track as trk ON plt.TrackId = trk.TrackId" +
                     " WHERE trk.Milliseconds < 250000")
    playlist_track_df = pd.DataFrame(rs.fetchall())
    playlist_track_df.columns = rs.keys()

playlist_track_df

,PlaylistId,TrackId,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,3390,3390,One and the Same,271,2,23,None,217732,3559040,0.99
1,1,3392,3392,Until We Fall,271,2,23,None,230758,3766605,0.99
2,1,3393,3393,Original Fire,271,2,23,None,218916,3577821,0.99
3,1,3394,3394,Broken City,271,2,23,None,228366,3728955,0.99
4,1,3395,3395,Somedays,271,2,23,None,213831,3497176,0.99
5,1,3397,3397,Jewel of the Summertime,271,2,23,None,233242,3806103,0.99
6,1,3399,3399,Nothing Left to Say But Goodbye,271,2,23,None,213041,3484335,0.99
7,1,3336,3336,War Pigs,260,4,23,None,234013,8052374,0.99
8,1,3478,3478,Slowness,323,2,23,None,215386,3644793,0.99
9,1,3375,3375,No Such Thing,270,2,23,Chris Cornell,224837,3691272,0.99
10,1,3376,3376,Poison Eye,270,2,23,Chris Cornell,237120,3890037,0.99
11,1,3377,3377,Arms Around Your Love,270,2,23,Chris Cornell,214016,3516224,0.99
12,1,3379,3379,She'll Never Be Your Man,270,2,23,Chris Cornell,204078,3355715,0.99
13,1,3380,3380,Ghosts,270,2,23,Chris Cornell,231547,3799745,0.99
14,1,3381,3381,Killing Birds,270,2,23,Chris Cornell,218498,3588776,0.99
15,1,3383,3383,Scar On the Sky,270,2,23,Chris Cornell,220193,3616618,0.99
16,1,3384,3384,Your Soul Today,270,2,23,Chris Cornell,205959,3385722,0.99
17,1,3385,3385,Finally Forever,270,2,23,Chris Cornell,217035,3565098,0.99
18,1,3388,3388,You Know My Name,270,2,23,Chris Cornell,240255,3940651,0.99
19,1,3367,3367,Hunger Strike,269,2,23,None,246292,4233212,0.99
20,1,3368,3368,Pushin Forward Back,269,2,23,None,225278,3892066,0.99
21,1,3372,3372,Your Savior,269,2,23,None,244226,4199626,0.99
22,1,3374,3374,All Night Thing,269,2,23,None,231803,3997982,0.99
23,1,103,103,Drown Me Slowly,11,1,4,"Cornell, Commerford, Morello, Wilk",233691,7609178,0.99
24,1,105,105,The Worm,11,1,4,"Cornell, Commerford, Morello, Wilk",237714,7710800,0.99
25,1,106,106,Man Or Animal,11,1,4,"Cornell, Commerford, Morello, Wilk",233195,7542942,0.99
26,1,166,166,Smoked Pork,18,1,4,None,47333,1549074,0.99
27,1,167,167,Body Count's In The House,18,1,4,None,204251,6715413,0.99
28,1,168,168,Now Sports,18,1,4,None,4884,161266,0.99
29,1,170,170,A Statistic,18,1,4,None,6373,211997,0.99
...,...,...,...,...,...,...,...,...,...,...,...
4043,14,3435,3435,Cavalleria Rusticana \ Act \ Intermezzo Sinfonico,302,2,24,Pietro Mascagni,243436,4001276,0.99
4044,14,3439,3439,"Das Lied Von Der Erde, Von Der Jugend",305,2,24,Gustav Mahler,223583,3700206,0.99
4045,14,3443,3443,Missa Papae Marcelli: Kyrie,309,2,24,Giovanni Pierluigi da Palestrina,240666,4244149,0.99
4046,14,3447,3447,Carmen: Overture,313,2,24,Georges Bizet,132932,2189002,0.99
4047,14,3448,3448,"Lamentations of Jeremiah, First Set \ Incipit ...",314,2,24,Thomas Tallis,69194,1208080,0.99
4048,14,3449,3449,"Music for the Royal Fireworks, HWV351 (1749): ...",315,2,24,George Frideric Handel,120000,2193734,0.99
4049,14,3451,3451,"Die Zauberflöte, K.620: ""Der Hölle Rache Kocht...",317,2,25,Wolfgang Amadeus Mozart,174813,2861468,0.99
4050,14,3452,3452,"SCRIABIN: Prelude in B Major, Op. 11, No. 11",318,4,24,None,101293,3819535,0.99
4051,15,3403,3403,Intoitus: Adorate Deum,272,2,24,Anonymous,245317,4123531,0.99
4052,15,3406,3406,"Concerto No. 1 in E Major, RV 269 ""Spring"": I....",275,2,24,Antonio Vivaldi,199086,3347810,0.99
4053,15,3407,3407,"Concerto for 2 Violins in D Minor, BWV 1043: I...",276,2,24,Johann Sebastian Bach,193722,3192890,0.99
4054,15,3408,3408,"Aria Mit 30 Veränderungen, BWV 988 ""Goldberg V...",277,2,24,Johann Sebastian Bach,120463,2081895,0.99
4055,15,3409,3409,"Suite for Solo Cello No. 1 in G Major, BWV 100...",278,2,24,Johann Sebastian Bach,143288,2315495,0.99
4056,15,3411,3411,Solomon HWV 67: The Arrival of the Queen of Sheba,280,2,24,George Frideric Handel,197135,3247914,0.99
4057,15,3418,3418,Die Walküre: The Ride of the Valkyries,287,2,24,Richard Wagner,189008,3114209,0.99
4058,15,3424,3424,"Turandot, Act III, Nessun dorma!",293,2,24,Giacomo Puccini,176911,2920890,0.99
4059,15,3426,3426,Carmina Burana: O Fortuna,295,2,24,Carl Orff,156710,2630293,0.99
4060,15,3427,3427,Fanfare for the Common Man,296,2,24,Aaron Copland,198064,3211245,0.99
4061,16,3367,3367,Hunger Strike,269,2,23,None,246292,4233212,0.99
4062,16,2206,2206,Daughter,182,1,1,Dave Abbruzzese/Eddie Vedder/Jeff Ament/Mike M...,235598,7824586,0.99
4063,16,2005,2005,Come As You Are,164,1,1,Kurt Cobain,219219,7123357,0.99
4064,16,2010,2010,Drain You,164,1,1,Kurt Cobain,223973,7273440,0.99
4065,16,2013,2013,On A Plain,164,1,1,Kurt Cobain,196440,6390635,0.99
4066,17,3,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
4067,17,1278,1278,Wrathchild,101,1,13,Steve Harris,174471,4188288,0.99
4068,17,1392,1392,Run to the Hills,112,1,3,Steve Harris,228884,3209124,0.99
4069,17,1984,1984,Looks That Kill,162,1,3,Nikki Sixx,240979,7831122,0.99
4070,17,1942,1942,Ace Of Spades,160,1,3,Clarke/Kilmister/Taylor,169926,5523552,0.99
4071,17,1945,1945,Live To Win,160,1,3,Clarke/Kilmister/Taylor,217626,7102182,0.99
4072,18,597,597,Now's The Time,48,1,2,Miles Davis,197459,6358868,0.99