# Manipulando banco de dados relacionais SQLALchemy (Modo ORM)

1. Escreva um vínculo (engine) com o banco de dados datasets/Chinook.sqlite. O banco de dados **Chinook** (https://archive.codeplex.com/?p=chinookdatabase) contém informações sobre uma loja de mídia digital semi-ficcional na qual os dados de mídia são reais e os dados de clientes, funcionários e vendas foram criados manualmente.

2. Mostre os detalhes (estrutura) da tabela **Employee** do banco de dados **Chinook**.

4. Mostre os nomes das colunas da tabela **Employee** do banco de dados **Chinook**.

5. Mostre todas as informações de todos os empregados na tabela **Employee** do banco de dados **Chinook**.

6. Mostre todas as informações de todos os empregados na tabela **Employee** do banco de dados **Chinook** cujo id (**EmployeeId**) seja maior do 6.

7. Mostre todas as informações de todos os empregados na tabela **Employee** do banco de dados **Chinook** cujo id (**EmployeeId**) sejam **3 ou 4**.

8. Mostre todas as informações de todos os empregados na tabela **Employee** do banco de dados **Chinook** cujo id (**EmployeeId**) seja < 6 e o primeiro nome **FirstName** seja igual a 'Jane'.

9. Mostre todas as informações de todos empregados. Ordene cronologicamente pela data de nascimento (**birthdate**) do empregado.

10. Mostre todas as informações de todos empregados os empregado cujo **id** é menor ou igual 6. Ordene cronologicamente pela data de nascimento (**birthdate**) do empregado.

11. Mostre o título (**title**) do album (**tabela Album**) e nome (**name**) do artista (**tabela Artist**).

12. Mostre o resultado da junção da tabela **PlaylistTrack** e **Track** onde o campo Milliseconds é menor do que 250000. As tabelas são relacionadas pelo campo **TrackId**.