# Manipulando banco de dados relacionais SQLALchemy

1. Escreva um vínculo (engine) com o banco de dados datasets/Chinook.sqlite. O banco de dados **Chinook** (https://archive.codeplex.com/?p=chinookdatabase) contém informações sobre uma loja de mídia digital semi-ficcional na qual os dados de mídia são reais e os dados de clientes, funcionários e vendas foram criados manualmente.

2. Mostre os nomes de todas as tabelas do banco de dados Chinook.

3. Mostre todas das informações de todas as colunas e das 10 primeiras linhas da tabela **Album**. Armezene essas informações em um dataframe

4. Mostre os contéudo das colunas **lastname** e **title** da tabela **employee** para 3 empregados apenas. Utilize a cláusula **with**.

5. Mostre todas as informações de 3 empregados cujo **id** é maior ou igual a 6.

6. Mostre todas as informações de todos empregados. Ordene cronologicamente pela data de nascimento (**birthdate**) do empregado.

7. Mostre todas as informações de todos empregados os empregado cujo **id** é menor ou igual 6. Ordene cronologicamente pela data de nascimento (**birthdate**) do empregado.

8. Mostre o título (**title**) do album (**tabela album**) e nome (**name**) do artista (**tabela artist**).

9. Mostre o resultado da junção da tabela **PlaylistTrack** e **Track** onde o campo Milliseconds é menor do que 250000. As tabelas são relacionadas pelo campo **TrackId**.